<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/html/head.html" rel="import"/>
    <link rel="icon" href="public/img/linhua_logo.png"/>
    <link rel="stylesheet" href="public/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="public/css/min-css/index.min.css">
    <script src="public/js/page_url.js"></script>
</head>
<body>
<div id="app">
    <!-- top -->
    <div class="top flex flex_a_c flex_j_b bg_fff">
        <div class="flex flex_a_c font_color" style="padding: 0 1rem;" @click="_sn">
            <!--<span class="icon iconfont" style="font-size: 24px;margin-right: .5rem;">&#xe74a;</span>-->
            <h3>金旺临化数据云平台</h3>
        </div>
        <div>
            <div class="head-normal bg_fff flex flex_a_c">
                <div class="flex flex_a_c c-p" @click="_ot">
                    <img src="public/img/head-01.jpg">
                    <span>username</span>
                </div>
                <div v-show="settingOpen" class="head-setting bg_fff">
                    <div class="flex flex_a_c flex_j_a">
                        <div class="flex flex_d_c flex_a_c">
                            <span class="icon iconfont">&#xe76e;</span>
                            <span>个人设置</span>
                        </div>
                        <div class="flex flex_d_c flex_a_c">
                            <span class="icon iconfont">&#xe74c;</span>
                            <span>公司通讯录</span>
                        </div>
                    </div>
                    <div class="bg_trans font_color flex flex_d_c flex_a_c" @click="exit">
                        <span class="icon iconfont">&#xe748;</span>
                        <span>退出登录</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- left -->
    <div class="left font_fff bg_nav" :class="{'show-anyway':sn}">
        <el-row class="tac nav bg_nav">
            <el-col :span="24">
                <el-menu
                        :default-active="navIndex"
                        background-color="#545c64"
                        text-color="#fff"
                        class="el-menu-vertical-demo"
                        active-text-color="#ffd04b"
                        @select="handleSelect">
                    <template v-for="(item,index) in nav">
                        <!--第一层-->
                        <template v-if="item.list">
                            <el-submenu :index="item.title" :src="item.src">
                                <template slot="title">
                                    <span class="iconfont">&#xe718;</span>
                                    <span>{{item.title}}</span>
                                </template>
                                <template v-for="(itm,idx) in item.list">
                                    <!--第二层-->
                                    <template v-if="itm.list">
                                        <el-submenu :index="itm.title" :src="itm.src">
                                            <template slot="title">{{itm.title}}</template>
                                            <template v-for="(its,idxs) in itm.list">
                                                <el-menu-item :index="its.title" :src="its.src">{{its.title}}
                                                </el-menu-item>
                                            </template>
                                        </el-submenu>
                                    </template>
                                    <template v-else>
                                        <el-menu-item-group>
                                            <!--<span class="iconfont">&#xe718;</span>-->
                                            <el-menu-item :index="itm.title" :src="itm.src">{{itm.title}}</el-menu-item>
                                        </el-menu-item-group>
                                    </template>
                                </template>
                            </el-submenu>
                        </template>
                        <!--第一层-->
                        <template v-else>
                            <el-menu-item :index="item.title" :src="item.src">
                                <!--<span class="iconfont">&#xe718;</span>-->
                                <span slot="title">{{item.title}}</span>
                            </el-menu-item>
                        </template>
                    </template>
                </el-menu>
            </el-col>
        </el-row>
    </div>
    <!--content-->
    <div class="content page">
        <el-tabs class="" v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">
            <el-tab-pane
                    v-for="(item, index) in editableTabs"
                    :key="item.name"
                    :label="item.title"
                    :name="item.name">
                <!--{{item.content}}-->
                <iframe :src="item.content + '.html'"></iframe>
            </el-tab-pane>
        </el-tabs>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            nav: [
                {
                    title: "主菜单",
                    src: component
                },
                {
                    title: "组织架构",
                    list: [
                        {
                            title: "部门管理",
                            list: [
                                {
                                    title: "部门列表",
                                    src: department_list
                                },
                                {
                                    title: "添加部门",
                                    src: add_department
                                }
                            ]
                        },
                        {
                            title: "职位管理",
                            list: [
                                {
                                    title: "职位列表",
                                    src: department_list
                                }, {
                                    title: '添加职位',
                                    src: department_list
                                }
                            ]
                        },
                        {
                            title: "员工管理",
                            src: department_list
                        }
                    ]
                }
            ],
            navIndex: '主菜单',//默认选中的值
//            左侧导航栏
            sn: false,
            //个人设置
            settingOpen: false,
            src: 'index',
            editableTabsValue: '0',
            editableTabs: [],
            tabIndex: 0,
            basePath: basePath
        },
        watch: {
            'editableTabsValue': function (val) {
                console.log('选项卡变化editableTabsValue:', val);
                let tabs = this.editableTabs, title;
                tabs.forEach((tab, index) => {
                    if (tab.name === val) {
                        title = tab.title;
                    }
                });
                $(document).find('.el-menu-item').each(function () {
                    $(this).removeClass('is-active');
                    console.log(this.innerText, title, this.innerText == title);
                    var text = this.innerText;
//                    var re =  [\u4E00-\u9FA5\\s];
//                    text = re.test(text);
                    if (this.innerText == title) {
                        if ($(this).hasClass('is-active')) {

                        } else {
                            $(this).addClass('is-active');
                        }
                    }
                })
            },
        },
        created(){
            if (!localStorage.getItem('token')) {
                location.href = './login.html';
            }
            this.addTab('主菜单');
            window: onresize = function () {
                console.log('resize');
                console.log($('.el-tabs--card').height());
                console.log($('.el-tabs__nav-scroll').height());
                $('.el-tabs__content').height($('.el-tabs--card').height()-$('.el-tabs__nav-scroll').height());
            }
        },
        methods: {
//            推出登录
            exit(){
                this.$confirm('此操作将退出登录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    localStorage.removeItem('token');
                    location.href = './login.html';
                }).catch(() => {
//                    this.$message({
//                        type: 'info',
//                        message: '已取消删除'
//                    });
                });

            },
//            手动显示左侧导航栏
            _snn(){
                this.sn = false;
                this.settingOpen = false;
            },
            _sn(){
                this.sn = !this.sn;
            },
//            个人设置
            _ot(){
                this.settingOpen = !this.settingOpen;
            },
            handleSelect(key, keyPath, c){
                this.src = key;
                var th = this;
                let goon = true;
                let tabs = th.editableTabs;
                tabs.forEach((tab, index) => {
                    if (tab.title == key) {
                        goon = false;
                        th.tabIndex = tab.name;
                    }
                });
                if (goon) {
                    th.addTab(key, c);
                } else {
                    //选中
                    this.editableTabsValue = th.tabIndex;
                    console.log(tabs);
                }
            },
            addTab(targetName, el) {
                let newTabName = ++this.tabIndex + '';
                this.editableTabs.push({
                    title: targetName,
                    name: newTabName,
                    content: (el && el.$attrs.src) ? el.$attrs.src : '/newLinhuaJs/public/pages/component/component'
                });
                this.editableTabsValue = newTabName;
            },
            removeTab(targetName) {
                console.log('删除前的入参：', targetName)
                let tabs = this.editableTabs;
                let activeName = this.editableTabsValue;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                this.editableTabsValue = activeName;
                this.editableTabs = tabs.filter(tab => tab.name !== targetName);
                console.log('删除过后的选项卡数组：', this.editableTabs)
                if(this.editableTabs.length<1){
                    this.addTab('主菜单');
                }
            }
        }
    })
</script>
</body>
</html>