<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/html/head.html" rel="import"/>
    <link rel="icon" href="public/img/linhua_logo.png"/>
    <link rel="stylesheet" href="public/lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="public/css/min-css/index.min.css">
</head>
<body>
<div id="app">
    <!-- top -->
    <div class="top flex flex_a_c flex_j_b bg_fff">
        <div class="flex flex_a_c font_color" style="padding: 0 1rem;" @click="_sn">
            <span class="icon iconfont" style="font-size: 24px;margin-right: .5rem;">&#xe74a;</span>
            <h3>临化OA</h3>
        </div>
        <div>
            <div class="head-normal bg_fff flex flex_a_c">
                <div class="flex flex_a_c c-p" @click="_ot">
                    <img src="public/img/head-01.jpg">
                    <span>username</span>
                </div>
                <div v-show="settingOpen" class="head-setting bg_fff">
                    <div class="flex flex_a_c flex_j_a">
                        <div class="flex flex_d_c flex_a_c">
                            <span class="icon iconfont">&#xe76e;</span>
                            <span>个人设置</span>
                        </div>
                        <div class="flex flex_d_c flex_a_c">
                            <span class="icon iconfont">&#xe74c;</span>
                            <span>公司通讯录</span>
                        </div>
                    </div>
                    <div class="bg_trans font_color flex flex_d_c flex_a_c">
                        <span class="icon iconfont">&#xe748;</span>
                        <span>退出登录</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- left -->
    <div class="left font_fff bg_nav" :class="{'show-anyway':sn}">
        <el-row class="tac nav bg_nav">
            <el-col :span="24">
                <el-menu
                        default-active="index"
                        background-color="#545c64"
                        text-color="#fff"
                        class="el-menu-vertical-demo"
                        active-text-color="#ffd04b"
                        @select="handleSelect">
                    <template v-for="(item,index) in nav">
                        <!--第一层-->
                        <template v-if="item.list">
                            <el-submenu :index="item">
                                <template slot="title">
                                    <span class="iconfont">&#xe718;</span>
                                    <span>{{item.title}}</span>
                                </template>
                                <template v-for="(itm,idx) in item.list">
                                    <!--第二层-->
                                    <template v-if="itm.list">
                                        <el-submenu :index="itm">
                                            <template slot="title">{{itm.title}}</template>
                                            <template v-for="(its,idxs) in itm.list">
                                                <el-menu-item :index="its.src">{{its.title}}</el-menu-item>
                                            </template>
                                        </el-submenu>
                                    </template>
                                    <template v-else>
                                        <el-menu-item-group>
                                            <!--<span class="iconfont">&#xe718;</span>-->
                                            <el-menu-item :index="itm.src">{{itm.title}}</el-menu-item>
                                        </el-menu-item-group>
                                    </template>
                                </template>
                            </el-submenu>
                        </template>
                        <!--第一层-->
                        <template v-else>
                            <el-menu-item :index="item.src">
                                <span class="iconfont">&#xe718;</span>
                                <span slot="title">{{item.title}}</span>
                            </el-menu-item>
                        </template>
                    </template>
                    <!--************************************************-->
                    <el-menu-item index="index">
                        <i class="el-icon-document"></i>
                        <span slot="title">主页</span>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <span class="iconfont">&#xe718;</span>
                            <span>导航一</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="2-1">选项1</el-menu-item>
                            <el-menu-item index="2-2">选项2</el-menu-item>
                            <el-menu-item index="2-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="2-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="1-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                </el-menu>
            </el-col>
        </el-row>
    </div>
    <!--content-->
    <div class="content page">
        <iframe :src="'public/pages/' + src + '.html'"></iframe>
        <div class="iframe-mask" @click="_snn"></div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            nav: [
                {
                    title: "主菜单",
                    src: 'main'
                },
                {
                    title: "组织架构",
                    src: '',
                    list: [
                        {
                            title: "部门管理",
                            src: '',
                            list: [
                                {
                                    title: "部门列表",
                                    src: 'department'
                                },
                                {
                                    title: "添加部门",
                                    src: 'addDepartment'
                                }
                            ]
                        },
                        {
                            title: "职位管理",
                            src: '',
                            list: [
                                {
                                    title: "职位列表",
                                    src: 'position'
                                },{
                                    title: '添加职位',
                                    src: 'addPosition'
                                }
                            ]
                        },
                        {
                            title: "员工管理",
                            src: '',
                            list: [
                                {
                                    title: '员工列表',
                                    src: 'staff'
                                },
                                {
                                    title: '添加员工',
                                    src: 'addStaff'
                                }
                            ]
                        }
                    ]
                }
            ],
//            左侧导航栏
            sn: false,
            //个人设置
            settingOpen: false,
            src: 'index'
        },
        methods: {
//            手动显示左侧导航栏
            _snn(){
                this.sn = false;
                this.settingOpen = false;
            },
            _sn(){
                this.sn = !this.sn;
            },
//            个人设置
            _ot(){
                this.settingOpen = !this.settingOpen;
            },
            handleSelect(key, keyPath){
                console.log(key, keyPath);
                this.src = key;
            }
        }
    })
</script>
</body>
</html>