.top {
    width: 100%;
    height: 59px;
    border-bottom: 1px solid transparent;
    position: absolute;
    top: 0;
    padding-right: 1rem;
    box-sizing: border-box;
    z-index: 3;
    background-image: linear-gradient(to right, #001529, #fbfdff);
}

.left {
    /*border-right: 1px solid #eee;*/
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 59px;
    margin-top: -1px;
    margin-left: 0;
    box-sizing: border-box;
    z-index: 2;
}

.head-normal {
    position: relative;
    cursor: pointer;
}

.head-normal img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.head-setting {
    font-size: 0.8rem;
    position: absolute;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    width: 200px;
    right: 0;
    top: 150%;
    color: #666;
}

.head-setting::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: -18px;
    left: 50%;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.head-setting > div {
    padding: .5rem 0;
}

.el-message-box {
    max-width: 420px;
    width: 50%;
}

/*content*/
.content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding-left: 200px;
    padding-top: 59px;
    z-index: 1;
    box-sizing: border-box;
    overflow: auto;
}

.page {
    background-color: #f1f2f7;
    /*position: relative;*/
}
.el-table{
    width:99.9%!important;
}
.el-menu {
    background-color: transparent !important;
}

.el-menu-item, .el-submenu__title {
    color: #b8c7ce;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu-item.is-active, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover, .el-menu-item:hover, .el-submenu .el-menu-item:hover, .el-submenu__title:hover {
    background-color: #145a8e !important;
    color: #fff;
}

.el-tabs__header {
    background-color: #ffffff;
    margin: 0;
}

.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    border-color: transparent;
    border-top: 1px solid #20a0ff;
    border-radius: 0;
    background-color: #f6f6f6;
}

.el-tab-pane, .el-tabs__content, .el-tabs--card {
    width: 100%;
}

.el-tab-pane, .el-tabs--card {
    height: 100%;
}

.el-tabs__content {
    height: 93%;
}

.el-form {
    width: 460px;
}

.box {
    margin: .5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.box:last-child {
    margin-bottom: 0;
}
.quarter-box{
    width: 25%;
    box-sizing: border-box;
}

.iframe-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -1;
}

iframe {
    width: 100%;
    height: 100%;
    /*border: 1px solid transparent;*/
    border: 0;
}

/*响应式*/
.show-anyway {
    animation: toRight 0.5s !important;
    animation-fill-mode: forwards !important;
}

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.el-checkbox-group .el-checkbox + .el-checkbox {
    margin-left: 0;
}

.el-checkbox-group .el-checkbox {
    float: left;
    width: 160px;
    margin: 0;
    padding: 0;
}

/*定义动画*/
@keyframes toLeft {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -200px;
    }
}

@keyframes toRight {
    from {
        margin-left: -200px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes pdLeft {
    from {
        padding-left: 200px;
    }
    to {
        padding-left: 0;
    }
}

@keyframes pdRight {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 200px;
    }
}

/*大型屏幕pc 超大屏*/
@media screen and (min-width: 1200px) {
    .left {
        animation: toRight 0.2s;
        animation-fill-mode: forwards;
    }

    .content {
        animation: pdRight 0.2s;
        animation-fill-mode: forwards;
    }
}

/*1200>=pc>=992 大屏，字体红色，背景黑色*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .left {
        animation: toRight 0.2s;
        animation-fill-mode: forwards;
    }

    .content {
        animation: pdRight 0.2s;
        animation-fill-mode: forwards;
    }
}

/*768<=pad<992 中屏，字体黄色，背景红色*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .left {
        animation: toLeft 0.2s;
        animation-fill-mode: forwards;
    }

    .content {
        animation: pdLeft 0.2s;
        animation-fill-mode: forwards;
    }
}

/*phone<768  小屏，字体黑色，背景蓝色*/
@media screen and (max-width: 767px) and (min-width: 480px) {
    .left {
        animation: toLeft 0.2s;
        animation-fill-mode: forwards;
    }

    .content {
        animation: pdLeft 0.2s;
        animation-fill-mode: forwards;
    }
}

/* 超小屏，字体黑色，背景蓝色*/
@media screen and (max-width: 480px) {
    .left {
        animation: toLeft 0.2s;
        animation-fill-mode: forwards;
        padding-top: 101.4px;
    }

    .content {
        animation: pdLeft 0.2s;
        animation-fill-mode: forwards;
        padding-top: 101.4px;
    }

    .top {
        padding-right: 0;
    }

    .top > div {
        width: 100%
    }

    .top > div:first-child {
        justify-content: center;
    }

    .top > div:last-child .head-normal {
        justify-content: flex-end;
        background-color: #fff;
        padding: .2rem .5rem;
        box-sizing: border-box;
    }

    .top .name {
        display: none;
    }

    .head-normal img {
        width: 36px;
        height: 36px;
    }

    .half {
        width: 100% !important;
    }
}
