
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}
#app,.whole{
    width: 100%;
    height: 100%;
}
/* 隐藏 */
.hide{
    display: none;
}

/*全局flex布局样式*/
.flex {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

.flex_d_c {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex_a_c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex_a_s {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex_a_e {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex_a_b {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.flex_j_c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex_j_b {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flex_j_a {
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.flex_j_e {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flex_w_w {
    flex-wrap: wrap;
}

/*全局flex布局样式 end*/
/* 系统颜色 */
.bg_color{
    background-color: #ff6c60;
}
.bg_fff{
    background-color: #fff;
}

.font_color{
    color: #ff6c60;
}
.font_fff{
    color: #fff;
}